.subscribe {position: relative;
  background:  #000000e3;
  padding: 130px 0;
}

.subscribe .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe .container h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;color: white;
}
