.about {
  padding-top: 130px;
  background-color: #02050a;
}
.about .container {
  display: flex;
  gap: 50px;
}
.about__left {
  width: 60%;
}
.about__right {
  width: 40%;
}
.about__left-content {
  padding: 0 130px;

  position: relative;
}

.about__left-content::before {
  position: absolute;
  content: "";
  width: 100px;
  display: block;
  height: 2px;
  background-color: #a2a2a2;
  top: 10px;
  left: 0;
  z-index: 10;
}
.about__left-content p {
  margin: 110px 0;
}
.about__right-img {
  position: relative;
}
.about__right-img::after {
  position: absolute;
  content: "";
  background: #55e6a5;
  width: 95%;
  height: 80%;
  top: -20px;
  right: -20px;
  z-index: -1;
}
.about__right-daily {
  background: #232323;
  padding: 15px 30px;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
}
.about__right-img {
  width: 395px;
  height: 475px;
  position: relative;
  z-index: 1;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
}
.daily__text h4 {
  color: white;
}
.daily__text p {
  color: #a2a2a2;
}

.fa-chart-pie {
  padding: 10px;
  background-color: #a2a2a2;
  color: white;
  font-size: 30px;
  margin-right: 20px;
  border-radius: 50%;
}
@media only screen and (max-width:1080px){
 
  .about__right {
   display: none;
  }
  .about__left {

  width: 100%;
 
  }
 .about__left-content{
  padding: 0;
 } 
 .about__left-content::before {
 display: none;
 } 
}