.banner {
  background: url("https://zyan.vercel.app/images/bg/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}

.banner .banner__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner__content-left {
  width: 50%;
}
.banner__content-left h1 {
  font-size: 60px;
  color: white;
}
.banner__content-left p {
  margin: 50px 0;
  font-size: 20px;
  color: #a2a2a2;
  font-weight: 500;
}
.fa-circle-play {
  background-color: #55e6a5;
  border-radius: 50%;
  padding: 20px;
  font-size: 24px;
  color: black;
  margin-right: 10px;
}
.watch-btn {
  color: white;
  font-size: 20px;
}
.banner__content-right {
  padding: 15px;
  background: url("https://zyan.vercel.app/images/shapes/banner_shape.png");
  background-position: center;
  background-size: cover;overflow: hidden;

}
